<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="canonical" href="{{ request.build_absolute_uri }}">
    </head>
    <body>
        <main role="main" style="margin: 2rem auto;">
            <img src="{{ cute_status_url }}" style="display:block;margin-left:auto;margin-right:auto;max-width:100%">
        </main>
    </body>
</html>
