name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:

 wheel-contents:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip build check-wheel-contents

      - name: Build wheel
        run: |
          python -m build --wheel

      - name: Check wheel contents
        run: |
          check-wheel-contents

 tests:
    name: Python ${{ matrix.python-version }} Django ${{matrix.django-version}}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
        django-version:
          - '4.2'
          - '5.0'
          - '5.1'
          - '5.2'
          - 'main'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }} {{matrix.django-version}}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        django-version: ${{ matrix.django-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        python -m pip install --upgrade tox tox-py coverage codecov-cli

    - name: Run tox targets for ${{ matrix.python-version }} ${{matrix.django-version}}
      run: |
        tox --py current
        coverage combine
        coverage xml -o coverage.xml

    - name: Coverage reporting
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
